<config>
  <file>
    <app_name>GaitoBot AIML Editor</app_name>
    <app_version>2.10.0.42867</app_version>
    <app_major>2</app_major>
    <app_minor>10</app_minor>
    <app_revision>42867</app_revision>
    <app_build>0</app_build>
    <file_created>3/2/2018 3:17:15 PM</file_created>
    <file_lastsaved>3/2/2018 3:47:35 PM</file_lastsaved>
    <system_os>Microsoft Windows NT 6.2.9200.0</system_os>
    <system_user>DJ</system_user>
  </file>
  <content>
    <language>en</language>
  </content>
</config>